/* roboto-300 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto/roboto-v15-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto/roboto-v15-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v15-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto/roboto-v15-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v15-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('../fonts/roboto/roboto-v15-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v15-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/roboto/roboto-v15-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v15-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto/roboto-v15-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v15-latin_latin-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}