<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Store</title>
    <link rel="stylesheet" href="<%= ENV === "production" ?  "css/vendors.min.css" : "css/vendors.css" %>">
    <link rel="stylesheet" href="<%= ENV === "production" ?  "css/main.min.css" : "css/main.css" %>">
    <script src="<%= ENV === "production" ?  "js/vendors.bundle.min.js" : "js/vendors.bundle.js" %>"></script>
    <script src="<%= ENV === "production" ?  "js/app.bundle.min.js" : "js/app.bundle.js" %>"></script>
</head>
<body ng-app="app" ng-cloak>
<ui-view name="app">Loading...</ui-view>
<% if (!(ENV === "production")) { %>
<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>');
</script>
<% } %>
</body>
</html>